@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
// обнуление
html, body {
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// Общие стили

#root {
    height: 100%;
}

.not-found {
    flex: 1 0 auto;
    background-image: url('../../assets/images/background.png');
    background-repeat: repeat;
    background-size: 250px 250px;
    background-color: $backgroundColor;
    font-size: 40px;

    &__link {
        font-size: 40px;
        font-weight: 700;
        color: rgb(225, 70, 19);
        text-decoration: underline;
        transition: all 0.3s ease 0s;

        &:hover {
            color:rgb(255, 221, 0);
        }
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    background-image: url('../../assets/images/background.png');
    background-repeat: repeat;
    background-size: 250px 250px;
    background-color: $backgroundColor;
    
}

.content__width-restricted {
    padding: 20px 0;
}

// ошибки в авторизации
.empty, .occupied, .doesNotMatch, .wrongLogin, .wrongPassword {
    border: 1px solid red;
}

.doesNotMatch {
    border: 1px solid red;
}

.occupied {
    border: 1px solid red;
}

// Footer ================================
.footer {
    flex: 0 0 $heightHeaderFooter;
    box-shadow: 0px -2px 3px #777;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: 700;
    font-size: 20px;

    & a {
        color:rgb(0, 187, 31);
        transition: all 0.4s ease 0s;

        &:hover {
            color:rgb(255, 221, 0);
            text-decoration: underline;
        }
    }
}
// =======================================

// Header ================================
.header {
    flex: 0 0 $heightHeaderFooter;
    background-color: #fff;
    box-shadow: 0px 2px 3px #777;
    position: relative;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__logo {
        display: block;

        & img {
            max-height: 50px;
        }
    }

    &__hello {
        font-size: 18px;
        color:rgb(18, 1, 171);

        & span {
            font-weight: 700;
        }
    }

    &__link {
        font-size: 20px;
        font-weight: 700;
        color: rgb(0, 187, 31);
        transition: all 0.4s ease 0s;
        
        &:hover {
            text-decoration: underline;
            color:rgb(255, 221, 0);
        }
    }

    &__quit {
        height: 30px;
        border-radius: 5px;
        border: 2px solid #777;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        box-shadow: 1px 2px 3px #000;
        transition: background-color 0.4s ease 0s;

        &:active {
            position: relative;
            top: 2px;
            box-shadow: 0 0 1px #000;
        }

        &:hover {
            background-color: rgb(12, 12, 12);
            color: #fff;
            box-shadow: 0 0 5px 2px rgb(205, 205, 205);
        }
    }
}
// =======================================

// History ===============================
.history {
    

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 7px;
        padding: 10px 30px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    &__title {
        color: $titleColor;
        font-size: 24px;
        margin: 20px 0;

        & span {
            color:$titleColorSpan;
        }
    }

    &__clear-button {
        padding: 5px 7px;
        border-radius: 5px;
        border: 1px solid #333;
        background-color: #fff;
        font-size: 18px;
        box-shadow: 1px 2px 3px #000;
        cursor: pointer;
        transition: background-color 0.4s ease 0s;

        &:hover {
            background-color: rgb(12, 12, 12);
            color: #fff;
            box-shadow: 0 0 5px 2px rgb(205, 205, 205);
        }

        &:active {
            position: relative;
            top: 2px;
            box-shadow: 1px 0px 3px #000;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 7px;
        padding: 10px 30px;
    }   

    &__item {
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        color: rgb(34, 34, 34);
        border-bottom: 3px solid rgb(101, 101, 101);
        font-size: 20px;

        & span {
            color: rgb(4, 141, 2);
            font-style: italic;
        }
    }
}
// =======================================

// Cards ================================= 
.cards {
    &__title {
        color: $titleColor;
        font-size: 24px;
        margin: 20px 0;
        line-height: 120%;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 7px;
        padding: 10px 30px;
    }

    & ul {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    }
}
// =======================================

// Mini Card =============================
.card_mini {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    // .card_mini__image
    &__image {
        flex: 0 0 150px;
        overflow: hidden;
        border-radius: 5px;
        
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    // .card_mini__info
    &__info {
        flex: 1 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    // .card_mini__title-year
    &__developer-release {
        align-items: center;
        font-style: italic;

        & span {
            font-style: normal;
        }
    }

    // .card_mini__title
    &__title {
        font-family: 'Ubuntu';
        font-weight: 500;
    }

    // .card_mini__metascore
    &__metascore {
        display: flex;
        align-items: center;
        column-gap: 5px;
        & span {
            position: relative;
            top: 2px;
            padding: 0 3px;
            border-radius: 5px;
        }
    }
}
.metacolor {
    &__red {
        background-color: red;
        color: #fff;
    }
    &__yellow {
        background-color: rgb(255, 221, 0);
    }
    &__lime {
        background-color: lime;
    }
    &__green {
        background-color: green;
        color: #fff;
    }
    &__no-score {
        background-color: rgb(37, 37, 37);
        color: #fff;
    }
}
// =======================================

// Game Page =============================
.game-page {
    flex: 1 0 auto;
    padding: 20px 0;

    // .game-page__grid
    &__grid {
        display: grid;
        grid-template-rows: 60px 1fr minmax(100px, 1fr);
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
        row-gap: 10px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.85);
        max-width: 900px;
        margin: 0 auto;
    }

    // .game-page__controls
    &__controls {
        grid-area: 1 / 1 / 2 / -1;
        background-color: #eee;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
    }

    // .game-page__image
    &__image {
        grid-area: 2 / 1 / 3 / 2;
        padding: 0 10px;
        // background-color: #0ff;
        
        & img {
            border-radius: 5px;
            overflow: hidden;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    // .game-page__common-info
    &__common-info {
        grid-area: 2 / 2 / 3 / -1;
        padding: 20px;
    }

    // .game-page__description
    &__description {
        grid-area: 3 / 1 / -1 / -1;
        background-color: #fff;
        padding: 25px 10px;
    }

    // .game-page__title
    &__title {
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 30px;
        line-height: 150%;
    }

    // .game-page__developer
    &__developer {
        font-size: 26px;
        line-height: 150%;
        font-style: italic;
        
        & span {
            font-style: normal;
            font-weight: 700;
        }
    }

    // .game-page__release
    &__release {
        font-size: 26px;
        line-height: 150%;

        & span {
            font-weight: 700;
        }
    }

    // .game-page__genres
    &__genres {
        font-size: 26px;
        line-height: 150%;

        & span {
            font-weight: 700;
        }
    }

    // .game-page__platforms
    &__platforms {
        font-size: 26px;
        line-height: 150%;

        & span {
            font-weight: 700;
        }
    }

    &__metascore {
        font-size: 26px;
        font-weight: 700;

        & span {
            font-weight: 400;
            padding: 0 5px;
            border-radius: 5px;
            position: relative;
            top: 2px;
        }
    }

    &__auth {
        font-weight: 700;
        font-size: 16px;
        color:rgb(18, 1, 171);
        transition: all 0.2s ease 0s;

        &:hover {
            color:rgb(255, 221, 0);
            text-decoration: underline;
        }
    }

    &__screenshots {
        grid-area: 3 / 1 / -1 / -1;
        padding: 5px 10px 30px;
    }
}
// =======================================
.screenshots {
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
        gap: 15px;
    }

    &__title {
        margin: 0 0 10px;
        font-size: 20px;
    }

    &__screenshot {
        & img {
            border-radius: 5px;
            max-width: 100%;
            max-height: 100%;
            cursor: pointer;
        }
    }
}


// Search Form ===========================
.search-form {
    min-height: 0;
    width: 100%;
    // .search-form__form
    &__form {
        position: relative;
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
    }

    // .search-form__input
    &__input {
        flex: 0 0 70%;
        height: 40px;
        padding: 5px 8px;
        border-radius: 7px;
        border: 2px solid #333;
        font-size: 20px;
        font-weight: 500;
    }

    // .search-form__submit-button
    &__submit-button {
        flex: 0 1 150px;
        border-radius: 7px;
        border: 2px solid #777;
        cursor: pointer;
        box-shadow: 1px 2px 3px #300;
        &:active {
            position: relative;
            top: 2px;
            box-shadow: 0px 0px 3px #300;
        }
    }

    // .search-form__drop-down
    &__drop-down {
        position: absolute;
        z-index: 2;
        top: 100%;
        min-width: 400px;
        left: 0;
        background-color: rgba(37, 37, 37, 0.723);
        padding: 10px 20px;
        border-radius: 10px;
    }

    // .search-form__list
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    // .search-form__item
    &__item {
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }

    &__image {
        width: 40px;
        height: 50px;
        object-fit: cover;
    }

    &__preloader {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    // .search-form__link
    &__link {
        display: flex;
        align-items: center;
        column-gap: 15px;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.5px;
        transition: all 0.2s ease 0s;

        &:hover {
            color: rgb(255, 221, 0);   
        }
    }
}
// =======================================

// Sign Page =============================
.sign-page {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        background-color: rgba(60, 60, 60, 0.932);
        padding: 20px 30px;
        border-radius: 7px;
        min-width: 300px;
    }

    &__title {
        color: #fff;
        margin: 0 auto;
    }

    &__item {
        column-gap: 10px;
        position: relative;
        display: flex;
    }

    &__input {
        flex: 1 1 auto;
        font-size: 20px;
        border-radius: 5px;
        padding: 5px 7px;
        &:focus {
            outline: none;
        }
    }

    &__input-error {
        position: absolute;
        font-size: 12px;
        color: red;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;

        & button {
            font-size: 20px;
            font-weight: 700;
            padding: 5px 7px;
            cursor: pointer;
            outline: none;
            border-radius: 5px;
            border: 2px solid rgb(113, 113, 113);
            box-shadow: 1px 2px 3px rgb(153, 153, 153);
            background-color: #fff;
            transition: background-color 0.4s ease 0s;

            &:hover {
                background-color: rgb(30, 29, 29);
                color: #fff;
                border: 2px solid rgb(38, 38, 38);
            }
            &:active {
                position: relative;
                top: 2px;
                box-shadow: 0px 0px 3px rgb(153, 153, 153);
            }
        }
    }
}

// =======================================

