@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html, body {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.not-found {
  flex: 1 0 auto;
  background-image: url("../../assets/images/background.png");
  background-repeat: repeat;
  background-size: 250px 250px;
  background-color: rgb(190, 190, 190);
  font-size: 40px;
}
.not-found__link {
  font-size: 40px;
  font-weight: 700;
  color: rgb(225, 70, 19);
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}
.not-found__link:hover {
  color: rgb(255, 221, 0);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  background-image: url("../../assets/images/background.png");
  background-repeat: repeat;
  background-size: 250px 250px;
  background-color: rgb(190, 190, 190);
}

.content__width-restricted {
  padding: 20px 0;
}

.empty, .occupied, .doesNotMatch, .wrongLogin, .wrongPassword {
  border: 1px solid red;
}

.doesNotMatch {
  border: 1px solid red;
}

.occupied {
  border: 1px solid red;
}

.footer {
  flex: 0 0 80px;
  box-shadow: 0px -2px 3px #777;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: 700;
  font-size: 20px;
}
.footer a {
  color: rgb(0, 187, 31);
  transition: all 0.4s ease 0s;
}
.footer a:hover {
  color: rgb(255, 221, 0);
  text-decoration: underline;
}

.header {
  flex: 0 0 80px;
  background-color: #fff;
  box-shadow: 0px 2px 3px #777;
  position: relative;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.header__logo {
  display: block;
}
.header__logo img {
  max-height: 50px;
}
.header__hello {
  font-size: 18px;
  color: rgb(18, 1, 171);
}
.header__hello span {
  font-weight: 700;
}
.header__link {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 187, 31);
  transition: all 0.4s ease 0s;
}
.header__link:hover {
  text-decoration: underline;
  color: rgb(255, 221, 0);
}
.header__quit {
  height: 30px;
  border-radius: 5px;
  border: 2px solid #777;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 3px #000;
  transition: background-color 0.4s ease 0s;
}
.header__quit:active {
  position: relative;
  top: 2px;
  box-shadow: 0 0 1px #000;
}
.header__quit:hover {
  background-color: rgb(12, 12, 12);
  color: #fff;
  box-shadow: 0 0 5px 2px rgb(205, 205, 205);
}

.history__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  padding: 10px 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.history__title {
  color: rgb(6, 18, 159);
  font-size: 24px;
  margin: 20px 0;
}
.history__title span {
  color: red;
}
.history__clear-button {
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 18px;
  box-shadow: 1px 2px 3px #000;
  cursor: pointer;
  transition: background-color 0.4s ease 0s;
}
.history__clear-button:hover {
  background-color: rgb(12, 12, 12);
  color: #fff;
  box-shadow: 0 0 5px 2px rgb(205, 205, 205);
}
.history__clear-button:active {
  position: relative;
  top: 2px;
  box-shadow: 1px 0px 3px #000;
}
.history__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  padding: 10px 30px;
}
.history__item {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  border-bottom: 3px solid rgb(101, 101, 101);
  font-size: 20px;
}
.history__item span {
  color: rgb(4, 141, 2);
  font-style: italic;
}

.cards__title {
  color: rgb(6, 18, 159);
  font-size: 24px;
  margin: 20px 0;
  line-height: 120%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  padding: 10px 30px;
}
.cards ul {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
}

.card_mini {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}
.card_mini__image {
  flex: 0 0 150px;
  overflow: hidden;
  border-radius: 5px;
}
.card_mini__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card_mini__info {
  flex: 1 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.card_mini__developer-release {
  align-items: center;
  font-style: italic;
}
.card_mini__developer-release span {
  font-style: normal;
}
.card_mini__title {
  font-family: "Ubuntu";
  font-weight: 500;
}
.card_mini__metascore {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.card_mini__metascore span {
  position: relative;
  top: 2px;
  padding: 0 3px;
  border-radius: 5px;
}

.metacolor__red {
  background-color: red;
  color: #fff;
}
.metacolor__yellow {
  background-color: rgb(255, 221, 0);
}
.metacolor__lime {
  background-color: lime;
}
.metacolor__green {
  background-color: green;
  color: #fff;
}
.metacolor__no-score {
  background-color: rgb(37, 37, 37);
  color: #fff;
}

.game-page {
  flex: 1 0 auto;
  padding: 20px 0;
}
.game-page__grid {
  display: grid;
  grid-template-rows: 60px 1fr minmax(100px, 1fr);
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  row-gap: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 900px;
  margin: 0 auto;
}
.game-page__controls {
  grid-area: 1/1/2/-1;
  background-color: #eee;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.game-page__image {
  grid-area: 2/1/3/2;
  padding: 0 10px;
}
.game-page__image img {
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.game-page__common-info {
  grid-area: 2/2/3/-1;
  padding: 20px;
}
.game-page__description {
  grid-area: 3/1/-1/-1;
  background-color: #fff;
  padding: 25px 10px;
}
.game-page__title {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
}
.game-page__developer {
  font-size: 26px;
  line-height: 150%;
  font-style: italic;
}
.game-page__developer span {
  font-style: normal;
  font-weight: 700;
}
.game-page__release {
  font-size: 26px;
  line-height: 150%;
}
.game-page__release span {
  font-weight: 700;
}
.game-page__genres {
  font-size: 26px;
  line-height: 150%;
}
.game-page__genres span {
  font-weight: 700;
}
.game-page__platforms {
  font-size: 26px;
  line-height: 150%;
}
.game-page__platforms span {
  font-weight: 700;
}
.game-page__metascore {
  font-size: 26px;
  font-weight: 700;
}
.game-page__metascore span {
  font-weight: 400;
  padding: 0 5px;
  border-radius: 5px;
  position: relative;
  top: 2px;
}
.game-page__screenshots {
  grid-area: 3/1/-1/-1;
  padding: 5px 10px 30px;
}

.screenshots__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 15px;
}
.screenshots__title {
  margin: 0 0 10px;
  font-size: 20px;
}
.screenshots__screenshot img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.search-form {
  min-height: 0;
  width: 100%;
}
.search-form__form {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.search-form__input {
  flex: 0 0 70%;
  height: 40px;
  padding: 5px 8px;
  border-radius: 7px;
  border: 2px solid #333;
  font-size: 20px;
  font-weight: 500;
}
.search-form__submit-button {
  flex: 0 1 150px;
  border-radius: 7px;
  border: 2px solid #777;
  cursor: pointer;
  box-shadow: 1px 2px 3px #300;
}
.search-form__submit-button:active {
  position: relative;
  top: 2px;
  box-shadow: 0px 0px 3px #300;
}
.search-form__drop-down {
  position: absolute;
  z-index: 2;
  top: 100%;
  min-width: 400px;
  left: 0;
  background-color: rgba(37, 37, 37, 0.723);
  padding: 10px 20px;
  border-radius: 10px;
}
.search-form__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.search-form__item {
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.search-form__image {
  width: 40px;
  height: 50px;
  object-fit: cover;
}
.search-form__preloader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form__link {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  transition: all 0.2s ease 0s;
}
.search-form__link:hover {
  color: rgb(255, 221, 0);
}

.sign-page {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-page__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: rgba(60, 60, 60, 0.932);
  padding: 20px 30px;
  border-radius: 7px;
  min-width: 300px;
}
.sign-page__title {
  color: #fff;
  margin: 0 auto;
}
.sign-page__item {
  column-gap: 10px;
  position: relative;
  display: flex;
}
.sign-page__input {
  flex: 1 1 auto;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 7px;
}
.sign-page__input:focus {
  outline: none;
}
.sign-page__input-error {
  position: absolute;
  font-size: 12px;
  color: red;
}
.sign-page__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.sign-page__buttons button {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 7px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(113, 113, 113);
  box-shadow: 1px 2px 3px rgb(153, 153, 153);
  background-color: #fff;
  transition: background-color 0.4s ease 0s;
}
.sign-page__buttons button:hover {
  background-color: rgb(30, 29, 29);
  color: #fff;
  border: 2px solid rgb(38, 38, 38);
}
.sign-page__buttons button:active {
  position: relative;
  top: 2px;
  box-shadow: 0px 0px 3px rgb(153, 153, 153);
}